@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');


:root{
    --primary-color : rgb(30, 104, 224);
    --light-black : rgb(63,61,86) ;
    --off-white :#E5E7EB;
    --white : rgb(255,255,255);
}

body 
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 ;
}


/** container**/
.container
{
    padding-left: 2rem;
    padding-right:2rem;
}

.container-center
{
   max-width: 600px;
   margin: auto;
}
 
 /* links */

 .link
 {
        text-decoration: none;
        padding: 0.5rem 1rem;
 }

 .primary-link
 {
     background-color: var(--primary-color);
     border-radius: 0.5rem;
     border : 1px solid var(--primary-color);
     color: var(--white);
 }

 .secondary-link
 {
     color: var(--primary-color);
     border-radius: 0.5rem;
     border : 1px solid var(--primary-color);
 }

 hr{
     margin : 2rem 0 ;
 }

 /* lists */

 .list-non-bullet
 {
     list-style: none ;
 }

 .list-item-inline
 {
     display: inline;
     padding: 1.5rem 0.5rem;
 }

/* Navigation */

.navigation
 {
    background-image: linear-gradient(160deg,rgb(74, 172, 255), rgb(91, 74 ,239),rgb(112 ,36 ,234));
    color : var(--white);
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
}

.navigation .link
{
    color: var(--white);
}

.navigation .nav-pills
{
    text-align: right;
}

.navigation .nav-brand
{
    font-weight:bold;
    font-size: 1.5rem ;
    display: inline;
}

.navigation .link-active
{
    font-weight: bold ;
}

/* Header */

.hero
{
    padding: 2rem ;
}

.hero .hero-img
{
    max-width: 350px;
    margin: auto;
    display: block;
}

.hero .hero-heading
{
    padding: 1rem;
    text-align: center;
    color: var(--light-black);
}

.hero .hero-heading .heading-inverted
{
    color: var(--primary-color);
}
/* section */

.section
{
    padding: 2rem ;
}

.section h1
{
    text-align: center;
}

.ow
{
    background-color: var(--off-white);
}

.footer
{
    background-image: linear-gradient(160deg,rgb(74, 172, 255), rgb(91, 74 ,239),rgb(112 ,36 ,234));
    padding : 2rem 2rem ;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link
{
    color: white;
}
 

 